.general-cart-item.divider-lg-bottom{ class: ('mb-30' if item == @items.last) }
  = link_to order_item_path(item), method: :delete, class: 'close general-cart-close', 'aria-label' => 'Close' do
    %span{ 'aria-hidden' => 'true' } &times;
  .general-img-wrap-table
    = link_to item.book do
      = image_tag item.book.cover.thumb.url, class: 'cart-img-shadow'
  = link_to item.book do
    %p.title= item.book.title
  %table.table
    %tr
      %td
        %span.in-grey-600= t('price')
      %td
        %span.font-16.in-gold-500= item.book.price.to_s(:currency)
    %tr
      %td.vertical-middle
        %span.in-grey-600= t('quantity')
      %td
        .input-group{ data: { role: 'counter', default: item.quantity, min: '1', max: item.book.quantity } }
          %a.input-link{ href: '#', 'data-value' => 'prev' }
            %i.fa.fa-minus.line-height-40
          = form.text_field :quantity, class: 'form-control quantity-input'
          %a.input-link{ href: '#', 'data-value' => 'next' }
            %i.fa.fa-plus.line-height-40
    %tr
      %td
        %span.in-grey-600= t('subtotal')
      %td
        %span.font-16.in-gold-500= item.total.to_s(:currency)