%tr
  %td
    .general-img-wrap-table
      = image_tag item.book.cover.thumb.url, class: 'cart-img-shadow pull-left'
  %td
    %p.title= item.book.title
    %p.in-grey-600.fw-300= item.book.description
  %td
    %span.font-16.in-gold-500= item.book.price.to_s(:currency)
  %td
    %span.ml-30= item.quantity
  %td
    %span.font-16.in-gold-500= item.total.to_s(:currency)