.general-cart-item{ class: ('divider-lg-bottom pt-0' unless order_iteration.last?) }
  %table.table
    %tr
      %td.col-half
        %span.in-grey-600= t('orders.number')
      %td.col-half
        = link_to users_order_path(order) do
          %span.general-order-number= order.id
    %tr
      %td
        %span.in-grey-600= t('orders.completed_at')
      %td
        %span.in-grey-900.font-16.fw-300= order.completed_at.strftime('%Y-%m-%d')
    %tr
      %td
        %span.in-grey-600= t('orders.status')
      %td
        %span.font-16.fw-300.text-alert= t(order.state, scope: 'orders_filters')
    %tr
      %td
        %span.in-grey-600= t('orders.total')
      %td
        %strong.font-16= order.total.to_s(:currency)