%main.container.general-main-wrap
  %h1.general-title-margin= @order.id
  .row.mb-20
    - [:shipping_address, :billing_address].each do |type|
      .col-sm-3
        %h3.general-subtitle.mt-0= t(type)
        = render 'shared/address', address: @order.send(type)

    .col-sm-3
      - delivery = @order.shipping_method
      %h3.general-subtitle.mt-0= t('shipments')
      %p.general-address
        = delivery.name
        %br
        = t('range', min: delivery.min_days, max: delivery.max_days)
        %br
        = delivery.price.to_s(:currency)

    .col-sm-3
      - payment = @order.credit_card
      %h3.general-subtitle.mt-0= t('payment_info')
      %p.general-address
        = payment.number.gsub(/\d{12}/, '*' * 12)
        %br
        = payment.month_year

  = render 'shared/items'

  = render 'shared/summary', class: 'text-center general-text-right',
                             table_class: 'general-summary-table-right general-text-right',
                             order: @order